.div{
      display: flex;
    justify-content: center;
    align-items: center
}

.btnBad {
box-shadow: 8px 8px 24px 0px rgba(0, 22, 255, 1);
  cursor: pointer;
  width: 80px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background-color: aqua;
  color: blueviolet;
  margin-right: 20px;
  &:hover, &:focus{
  background-color: rgb(11, 0, 75);
box-shadow: 8px 8px 24px 0px rgba(255, 0, 0, 1);
  color: rgba(255, 0, 0, 1);
  }
}

.btnNeutral {
box-shadow: 8px 8px 24px 0px rgba(0, 22, 255, 1);
  cursor: pointer;
  width: 80px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background-color: aqua;
  color: blueviolet;
  margin-right: 20px;
  &:hover, &:focus{
  background-color: rgb(11, 0, 75);
box-shadow: 8px 8px 24px 0px rgba(255, 238, 0, 1);
  color: rgba(255, 238, 0, 1);
  }
}

.btnGood {
box-shadow: 8px 8px 24px 0px rgba(0, 22, 255, 1);
  cursor: pointer;
  width: 80px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background-color: aqua;
  color: blueviolet;
  margin-right: 20px;
  &:hover, &:focus{
  background-color: rgb(11, 0, 75);
box-shadow: 8px 8px 24px 0px rgba(0, 255, 22, 1);
  color: rgba(0, 255, 22, 1);
  }
}

.btnReset {
box-shadow: 8px 8px 24px 0px rgba(0, 22, 255, 1);
  cursor: pointer;
  width: 80px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background-color: aqua;
  color: blueviolet;
  margin-right: 20px;
  &:hover, &:focus{
  background-color: aquamarine;
box-shadow: 8px 8px 24px 0px rgba(0, 203, 255, 1);
  color: black;
  }
}